.title{
    color: black;
    position: absolute;
    top: 136px;
    left: 289px;

}

.list{
    color: gray;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.item1{
    width: 288px;
    height: 383px;
    border: 3px solid red;
    border-radius: 32px;
    margin-top: 132px;
    margin-left: 278px;
    font-size: 26px;
    text-align: center;
}

.item2{
    width: 288px;
    height: 383px;
    border: 3px solid red;
    border-radius: 32px;
    margin-top: 132px;
    margin-left: 70px;
    font-size: 26px;
    text-align: center;
}

.item3{
    width: 288px;
    height: 383px;
    border: 3px solid red;
    border-radius: 32px;
    margin-top: 132px;
    margin-left: 67px;
    font-size: 26px;
    text-align: center;
}

.item4{
    width: 288px;
    height: 383px;
    border: 3px solid red;
    border-radius: 32px;
    margin-top: 132px;
    margin-left: 61px;
    font-size: 26px;
    text-align: center;
    display: none;
}

.item5{
    display: none;
    width: 288px;
    height: 383px;
    border: 3px solid red;
    border-radius: 32px;
    margin-top: 132px;
    margin-left: 65px;
    font-size: 26px;
    text-align: center;
}

.sub{
    color: red;
    position: relative;
    top: 25px;
    
}

.hr1{
    margin-left: 58px;
    width: 228px;
    margin-top: 35px;
}

.complete{
    color: red;
    text-decoration: line-through;
}

.check{
    color: none;
}

.icon{
    position: relative;
    width: 45px;
    top: 140px;
    left: 1084px;
}

.add{
    display: inline-block;
    color: gray;
    position: relative;
    top: 127px;
    left: 1090px;
}
@media (max-width: 360px) and (min-height: 640px){

 


    .title{
        color: black;
        position: absolute;
        top: 0px;
        left: 25px;
    
    }
    
    .list{
        color: gray;
    }
    
    .flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .item1{
        width: 301px;
        height: 80px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 1px;
        margin-left: 20px;
        font-size: 26px;
        text-align: center;
    }
    
    .item2{
        width: 301px;
        height: 80px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 26px;
        text-align: center;
    }
    
    .item3{
        width: 301px;
        height: 80px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 26px;
        text-align: center;
    }
    .item4{
        width: 301px;
        height: 80px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 26px;
        text-align: center;
        display: block;
    }
    
    .item5{
        width: 301px;
        height: 80px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 26px;
        text-align: center;
        display: block;
    }
    
    .sub{
        position: relative;
        top: 25px;
        left: -62px;
        color: gray;
        
    }
    
    .hr1{
        display: none;
        margin-left: 58px;
        width: 228px;
        margin-top: 35px;
    }
    
    .complete{
        color: red;
        text-decoration: line-through;
        display: none;
    }
    
    .check{
        color: none;
        display: none;
    }
    
    .icon{
        position: relative;
        width: 35px;
        top: -1px;
        left: 294px;
    }
    
    .add{
        display: inline-block;
        color: gray;
        position: relative;
        top: 127px;
        left: 1090px;
    }







}