
h1{
font-size: 44px;
text-align: center;
}

.hr0{
width: 224px;
display: inline-block;
position: relative;
left: 370px;
top: 68px;
}

.hr2{
width: 224px;
display: inline-block;
position: relative;
left: 922px;
top: -63px;
}

.item1{
width: 288px;
height: 383px;
border: 3px solid red;
border-radius: 32px;
margin-top: 33px;
margin-left: 611px;
font-size: 26px;
text-align: center;
}

.hr1{
margin-left: 58px;
width: 228px;
margin-top: 35px;
}

.complete{
color: red;
text-decoration: line-through;
}

.check{
color: none;
}

.sub{
color: red;
position: relative;
top: 25px;


}
.icon{
position: relative;
width: 45px;
left: 95px;
top: 70px;
}

.back{
font-size: 46px;
text-decoration: none;
position: relative;
top: -47px;
font-weight: bold;
color: red;
}

@media (max-width: 360px) and (min-height: 640px){

    
h1{
    font-size: 34px;
    text-align: center;
    position: relative;
    top: 35px;
    
    }
    
    .hr0{
    width: 224px;
    display: inline-block;
    position: relative;
    left: 370px;
    top: 68px;
    display: none;
    }
    
    .hr2{
    width: 224px;
    display: inline-block;
    position: relative;
    left: 922px;
    top: -63px;
    display: none;
    }
    
    .item1{
        width: 288px;
        height: 383px;
        border: 1px solid red;
        border-radius: 12px;
        margin-top: 97px;
        margin-left: 26px;
        font-size: 26px;
        text-align: center;
    }
    
    .hr1{
        font-size: 34px;
        text-align: center;
        position: relative;
        top: 12px;
    }
    
    .complete{
    color: red;
    text-decoration: line-through;
    }
    
    .check{
    color: none;
    }
    
    .sub{
    color: red;
    position: relative;
    top: 25px;
    
    
    }
    .icon{
    position: relative;
    width: 45px;
    left: 95px;
    top: 70px;
    }
    
    .back{
        font-size: 44px;
        text-decoration: none;
        position: absolute;
        top: 50px;
        font-weight: bold;
        color: red;
    }
}

